[mysqld]
datadir=/web/dbhome/api/mysql/data
user=mysql
ft_min_word_len=1
#default-character-set=utf8   # for <5.1
character-set-server=utf8
skip-character-set-client-handshake=1
#query_cache_type = 1
#query_cache_size = 500M
#key_buffer_size = 700M
#sort_buffer_size = 100M
#read_rnd_buffer_size = 100M
#max_connections = 200
#table_cache = 600

#log-slow-queries     # v5.0>=
#slow_query_log = 1   # v5.1<=
#long_query_time = 20 # v5.1<=
#senna-log

### max memory usage calculation memo
# total = query_cache_size + 
# (sort_buffer_size + read_buffer_size) * max_connections 

### replication master setting (v5.0)
#log-bin
#server-id=1
#binlog-do-db=api_common
#binlog-do-db=api_common_dev

### replication slave setting
#server-id=2
#report-host=haru.apic
#replicate-do-table=api_common.api_users
#replicate-do-table=api_common_dev.api_users
#
### and execute following sql:
# mysql> GRANT REPLICATION SLAVE ON *.* TO replicator@haru.api IDENTIFIED BY '';
# mysql> CHANGE MASTER TO
#     MASTER_HOST='aki.apic',
#     MASTER_USER='replicator',
#     MASTER_PORT=3306,
#     MASTER_PASSWORD='',
#     MASTER_CONNECT_RETRY=300;
# mysql> START SLAVE;

[client]
host=aki.apic

[mysql]
pager=more
